<GridLayout columns="*, *", rows="*" class="container" #container>
    <Label [text]="p1Health" col="0" row="0" class="health" #p1H></Label>
    <Label [text]="p2Health" col="1" row="0" class="health" #p2H></Label>
    <GridLayout col="0" rows="*, *" class="player" #P1Container>
        <Button text='+' (tap)="changeHealth('p1Health', 'plus')" col="0" row="0" class="iterator"></Button>
        <Button text='-' (tap)="changeHealth('p1Health', 'minus')" col="0" row="2" class="iterator"></Button>
    </GridLayout>
    <GridLayout col="1" rows="*, *" class="player" #P2Container>
        <Button text='+' (tap)="changeHealth('p2Health', 'plus')" col="1" row="0" class="iterator"></Button>
        <Button text='-' (tap)="changeHealth('p2Health', 'minus')" col="1" row="2" class="iterator"></Button>
    </GridLayout>
    <!--<StackLayout col="2" class="player" #P2Container>
        <Button (tap)="plusHealth('p2Health')" class="iterator"></Button>
        <Button text="-" (tap)="minusHealth('p2Health')" class="iterator"></Button>
    </StackLayout>-->
</GridLayout>

<!--<StackLayout class="p-20">
    <Label text="Tap the button" class="h1 text-center"></Label>
    <Button text="TAP" (tap)="onTap()" class="btn btn-primary btn-active"></Button>
    <Label [text]="message" class="h2 text-center" textWrap="true"></Label>
</StackLayout>-->
