/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.container {
    background-color: #3d81ee;
}

.player {
    font-size: 54px;
    margin: auto;
    vertical-align: stretch;
}

.iterator {
    /*z-index: 100;*/
    background-color: transparent;
    opacity: 0;
    /*padding: 100;*/
    /*margin-top: -10;*/
}

.iterator:highlighted {
    opacity: .5;
    /*background-color: red;*/
}

.health {
    color: white;
    font-size: 60px;
    text-align: center;
    vertical-align: center;
}